@charset "UTF-8";


     html, body {

        margin: 0;
        /* display: flex;
        flex-direction: column; */
    } 

    body {
        display: flex;
        flex-direction: column;
        font-family: 'Arial', sans-serif;
    }

    footer {
        background: #C4D2E9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-top: auto;
        flex-shrink: 0;
        color: #2E2E2E;
        height: 150px;
    }

    footer img {
        width: 100px;
        height: 90px;
    }

    footer .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom :70px;
        display: flex;
        flex-direction: row;

    }

    footer .menu li {
        margin: 0 10px; /* Horizontal margin for spacing between items */
        text-shadow: 2px 2px 2px lightgray;
    }

    footer .menu li a, footer .menu li span {
        color: #0174DF;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
    }

    footer .menu li a:hover {
        text-decoration: underline;
        color : #FA8258;
    }

    footer .info {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #2E2E2E;
        align-items: start; 
    }

    footer .info li {
        margin: 5px 0;
        font-weight: bold;
        font-size: 1em;
        text-shadow: 1px 1px 1px lightgray;
    }

    .copyright-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%; /* Full width to center the content */
    }

    footer .copyright {
    	font-family: "Arial Black", sans-serif;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1em;
        color: grey;
        text-align: center;
        width: 100%; /* Make sure it takes full width */
    }

    @media (min-width: 600px) {
        footer {
            flex-direction: row;
            align-items: center;
        }

        footer .menu {
            flex-direction: row;
            align-items: center; /* Align menu items vertically centered */
        }

        footer .menu li {
            margin: 0 15px;
        }

        footer .info {
            flex-direction: column;
            align-items: start; /* Center align the info items */
        }

        footer .info li {
            margin: 5px 0;
        }

        .copyright-container {
            flex: 1 0 auto;
            justify-content: center;
            margin-top: 0;
        }
    }