<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.green.miniProject.dao.IAdminDao_MSI">
	<select id="adminDao">
		select * from admin where aid= #{param1}
	</select>
	<insert id="writeNotice">
		insert into notice values(null, #{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	<delete id="deleteNotice">
		delete from notice where nno= #{nno}
	</delete>
	<update id="updateNotice">
		update notice set ano= #{notice.ano}, ntitle= #{notice.ntitle}, ncontent= #{notice.ncontent}, nregdate= #{notice.nregdate} where nno = #{notice.nno}
	</update>
	<select id="noAnswerList">
		SELECT * FROM servicequestion WHERE sqanswertf=FALSE
	</select>
	<insert id="writeServiceAnswer">
		insert into serviceAnswer values(null, #{sqno}, #{sacontent}, #{saregdate})
	</insert>
	<select id="getFaqList">
		select * from faq
	</select>
	<insert id="writeFAQ">
		insert into faq values(null, #{faq.faqtitle}, #{faq.faqquestion}, #{faq.faqanswer}, #{faq.qcno}, #{faq.faqtarget})
	</insert>
	
	
	
</mapper>  