<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.miniProject.dao.ICommuDao_KHJ">
	<select id="getAllWhenMember">
		<!-- SELECT * From board WHERE mid is not null -->
		<!-- 차단당한 mid, cmid는 글이 안뜨게끔 쿼리 수정 -->
		SELECT b.*
		FROM board b
		LEFT JOIN blackAccount ba 
		ON b.mid = ba.mid
		LEFT JOIN blackAccount bc
		ON b.cmid = bc.cmid
		WHERE ba.mid IS NULL AND bc.cmid IS NULL and b.mid is not null
	</select>
	<select id="getAllWhenCompany">
		<!-- SELECT * From board WHERE cmid is not null -->
		<!-- 차단당한 mid, cmid는 글이 안뜨게끔 쿼리 수정 -->
		SELECT b.*
		FROM board b
		LEFT JOIN blackAccount ba 
		ON b.mid = ba.mid
		LEFT JOIN blackAccount bc
		ON b.cmid = bc.cmid
		WHERE ba.mid IS NULL AND bc.cmid IS NULL and b.cmid is not null
	</select>
	<select id="tagListWhenMem">
		SELECT b.bno, b.`MID`, b.btitle, b.bcontent, b.blike, b.bregdate, b.bmoddate, t.value
		FROM board b
		LEFT JOIN tagmem t ON b.bno = t.bno
		WHERE b.bno = #{bno}
<!--		SELECT b.bno, b.`MID`, b.btitle, b.bcontent, b.blike, b.bregdate, b.bregdate, b.bregdate, m.mname
		FROM board b
		LEFT JOIN member m ON b.`MID` = m.`MID`
		WHERE b.bno = #{bno}  -->
	</select>
	<select id="tagListWhenCom">
		SELECT b.bno, b.btitle, b.bcontent, b.blike, b.bregdate, b.bmoddate, b.cmid, t.value
		FROM board b
		LEFT JOIN tagcom t ON b.bno = t.bno
		WHERE b.bno = #{bno}
	
	</select>
	<insert id="insertContentWhenMem">
		Insert into board values (null, #{mid}, #{title}, #{content}, 0, now(), now(), null)
	</insert>
	<insert id="insertContentWhenCom">
		Insert into board value (null, null, #{title}, #{content}, 0, now(), now(), #{cmid})
	</insert>
	<select id="getBno">
		SELECT bno FROM board where btitle = #{title} and bcontent = #{content}
	</select>
	<insert id="insertTagWhenMem">
		Insert into tagMem values (null, #{mid}, #{tag}, #{bno})
	</insert>
	<insert id="insertTagWhenCom">
		Insert into tagCom values (null, #{cmid}, #{tag}, #{bno})
	</insert>
	<select id="myListMem">
		SELECT bno, btitle, blike, bregdate FROM board where mid = #{mid}	
	</select>
	<select id="myListCom">
		SELECT bno, btitle, blike, bregdate FROM board where cmid = #{cmid}	
	</select>
	
	<!-- 좋아요 관련 -->
	<insert id="insertLikeMem">
		Insert into Like_tb (lino, MID, bno) values (NULL, #{mid}, #{bno})
	</insert>
	<delete id="deleteLikeMem">
		Delete from like_tb where mid = #{mid} and bno = #{bno}
	</delete>
	<insert id="insertLikeCom">
		Insert into Like_tb (lino, cmid, bno) values (NULL, #{cmid}, #{bno})
	</insert>
	<delete id="deleteLikeCom">
		Delete from like_tb where cmid = #{cmid} and bno = #{bno}
	</delete>
	<update id="plusLikeOnBoard">
		UPDATE board SET blike = blike + 1 WHERE bno = #{bno}
	</update>
	<update id="minusLikeOnBoard">
		UPDATE board SET blike = blike - 1 WHERE bno = #{bno}		
	</update>
	<select id="getLikeMem">
		SELECT COUNT(mid) FROM like_tb WHERE bno = #{bno} AND mid = #{mid} 
	</select>
	<select id="getLikeCom">
		SELECT COUNT(cmid) FROM like_tb WHERE bno = #{bno} AND cmid = #{cmid} 
	</select>
	
	
	<!-- 댓글 관련 -->
	<insert id="insertReplyWhenMem">
		Insert into reply values (null, #{mid}, #{reply}, now(), now(), 0, null, #{bno})
	</insert>
	<insert id="insertReplyWhenCom">
		Insert into reply values (null, null, #{reply}, now(), now(), 0, #{cmid}, #{bno})
	</insert>
	<select id="getAllReplyList">
		SELECT * FROM reply where bno = #{bno}
	</select>
	
	
	
	<select id="getNoticeList">
		select * from notice
	</select>
	<select id="getNoticeDetail">
		select * from notice where nno= #{param1}
	</select>
</mapper>  