<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.miniProject.dao.ICommuDao_KHJ">
	<select id="getAllWhenMember">
		SELECT * From board WHERE cno is not null
	</select>
	
	<select id="detailDao">
		SELECT * FROM board WHERE bno = #{bno}
	</select>
</mapper>  