<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.green.miniProject.dao.ICompanyDao_PSH">
	
	<insert id="insertCompany">
	    INSERT INTO company (cno, ctype, cname, caddr1, cdocnum) VALUES
	    (#{com.cno}, #{com.ctype}, #{com.cname}, #{com.caddr1}, #{com.cdocnum})
	</insert>
	
	<insert id="insertCompanyManager">
	    INSERT INTO companyManager (cmid, cmpw, cmemail, cmtel, cno) VALUES
	    (#{cm.cmid}, #{cm.cmpw}, #{cm.cmemail}, #{cm.cmtel}, #{cm.cno})
	</insert>

	<select id="select">
		SELECT * FROM companyManager WHERE cmid = #{cmid} AND cmpw = #{cmpw}
	</select>
	
	<select id="getCompanyByCno" parameterType="java.lang.String" resultType="com.green.miniProject.domain.Company">
    	SELECT * FROM company WHERE cno = #{cno}
	</select>

    <update id="updateComInfo">
        UPDATE company
        SET cname = #{cname},
            caddr1 = #{caddr1},
            ctel = #{ctel},
            cfoundation = #{cfoundation},
            camount = #{camount},
            cintro = #{cintro},
            ctype = #{ctype}
        WHERE cno = #{cno}
    </update>
    
    <update id="updateCMinfo">
        UPDATE companyManager
        SET cmpw = #{cmpw},
            cmname = #{cmname},
            cmemail = #{cmemail},
            cmtel = #{cmtel}
        WHERE cmid = #{cmid}
    </update>
	
	<!-- employNoticeMapper.xml -->
	<insert id="enwrite" parameterType="com.green.miniProject.domain.EmployNotice" useGeneratedKeys="true" keyProperty="enno">
	    INSERT INTO employnotice (entitle, enintro, ensalary, enaddr, enenddate, enposition, cno, enexp, endegree)
	    VALUES (#{entitle}, #{enintro}, #{ensalary}, #{enaddr}, #{enenddate}, #{enposition}, #{cno}, #{enexp}, #{endegree})
	</insert>
	
	<insert id="insertSkill" parameterType="com.green.miniProject.domain.SkillEmployNotice">
	    INSERT INTO skillEmployNotice (skname, enno)
	    VALUES (#{skname}, #{enno})
	</insert>
	
	<insert id="insertWelfare" parameterType="com.green.miniProject.domain.WelfareEmployNotice">
	    INSERT INTO welfareemploynotice (wname, enno)
	    VALUES (#{wname}, #{enno})
	</insert>
	
	 <update id="updateEmployNotice">
        UPDATE employnotice
        SET entitle = #{entitle},
            enintro = #{enintro},
            ensalary = #{ensalary},
            enaddr = #{enaddr},
            enenddate = #{enenddate},
            enposition = #{enposition},
            enexp = #{enexp},
            endegree = #{endegree}
        WHERE enno = #{enno}
    </update>
	
    <select id="getEmployNoticeById" resultType="com.green.miniProject.domain.EmployNotice">
    	SELECT * FROM employnotice WHERE enno = #{enno}
	</select>
	
	<select id="getSkillsByEmployNoticeId" resultType="com.green.miniProject.domain.SkillEmployNotice">
    	SELECT * FROM skillEmployNotice WHERE enno = #{enno}
	</select>
    
    <select id="getWelfaresByEmployNoticeId" resultType="com.green.miniProject.domain.WelfareEmployNotice">
	    SELECT * FROM welfareemploynotice WHERE enno = #{enno}
	</select>
    
    <update id="updateSkill">
        UPDATE skillEmployNotice
        SET skname = #{skname}
        WHERE skno = #{skno}
    </update>
    
    <update id="updateWelfare">
        UPDATE welfareemploynotice
        SET wname = #{wname}
        WHERE wno = #{wno}
    </update>
    
    <delete id="deleteEmployNotice">
        DELETE FROM employnotice WHERE enno = #{enno}
    </delete>

    <delete id="deleteSkillsByEmployNoticeId">
        DELETE FROM skillEmployNotice WHERE enno = #{enno}
    </delete>

    <delete id="deleteWelfaresByEmployNoticeId">
        DELETE FROM welfareemploynotice WHERE enno = #{enno}
    </delete>
    
  </mapper>