<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.green.miniProject.dao.ICompanyDao_PSH">
	
	<insert id="insertCompany">
	    INSERT INTO company (cno, ctype, cname, caddr1, cdocnum) VALUES
	    (#{com.cno}, #{com.ctype}, #{com.cname}, #{com.caddr1}, #{com.cdocnum})
	</insert>
	
	<insert id="insertCompanyManager">
	    INSERT INTO companyManager (cmid, cmpw, cmemail, cmtel, cno) VALUES
	    (#{cm.cmid}, #{cm.cmpw}, #{cm.cmemail}, #{cm.cmtel}, #{cm.cno})
	</insert>

	<select id="select">
		SELECT * FROM companyManager WHERE cmid = #{cmid} AND cmpw = #{cmpw}
	</select>
	
	<select id="getCompanyByCno" parameterType="java.lang.String" resultType="com.green.miniProject.domain.Company">
    	SELECT * FROM company WHERE cno = #{cno}
	</select>
	
	

    <update id="updateComInfo">
        UPDATE company
        SET cname = #{cname},
            caddr1 = #{caddr1},
            ctel = #{ctel},
            cfoundation = #{cfoundation},
            camount = #{camount},
            cintro = #{cintro},
            ctype = #{ctype}
        WHERE cno = #{cno}
    </update>
    
    <update id="updateCMinfo">
        UPDATE companyManager
        SET cmpw = #{cmpw},
            cmname = #{cmname},
            cmemail = #{cmemail},
            cmtel = #{cmtel}
        WHERE cmid = #{cmid}
    </update>
	
	<!-- employNoticeMapper.xml -->
	<insert id="enwrite" parameterType="com.green.miniProject.domain.EmployNotice">
	    INSERT INTO employnotice (entitle, enintro, ensalary, enaddr, enenddate, enposition, cno)
	    VALUES (#{entitle}, #{enintro}, #{ensalary}, #{enaddr}, #{enenddate}, #{enposition}, #{cno})
	</insert>
	
	<insert id="insertExperience" parameterType="com.green.miniProject.domain.ExperienceEmployNotice">
	    INSERT INTO experienceEmployNotice (exname, exjoindate, exleavedate, exposition, exrank, enno)
	    VALUES (#{exname}, #{exjoindate}, #{exleavedate}, #{exposition}, #{exrank}, #{enno})
	</insert>
	
	<insert id="insertDegree" parameterType="com.green.miniProject.domain.DegreeEmployNotice">
	    INSERT INTO degreeEmployNotice (dename, degraddate, demajor, dehighestlevel, enno)
	    VALUES (#{dename}, #{degraddate}, #{demajor}, #{dehighestlevel}, #{enno})
	</insert>
	
	<insert id="insertSkill" parameterType="com.green.miniProject.domain.SkillEmployNotice">
	    INSERT INTO skillEmployNotice (skname, enno)
	    VALUES (#{skname}, #{enno})
	</insert>

    
    
    
    
    
    
    
    
    
    
  </mapper>