<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.miniProject.dao.ICompanyETCDao_PSH">

    <resultMap id="InterestMemberMap" type="com.green.miniProject.domain.InterestMember">
        <id property="imno" column="imno"/>
        <result property="cno" column="cno"/>
        <result property="mid" column="mid"/>
        <association property="member" javaType="com.green.miniProject.domain.Member">
            <result property="mname" column="mname"/>
            <result property="mstate" column="mstate"/>
        </association>
        <association property="resume" javaType="com.green.miniProject.domain.Resume">
            <result property="rtitle" column="rtitle"/>
            <result property="rno" column="rno"/>
        </association>
    </resultMap>

    <select id="getAllInterestMembers" resultMap="InterestMemberMap">
        SELECT im.imno, im.cno, im.mid, 
               m.mname, m.mstate, 
               r.rtitle, r.rno
        FROM interestMember im
        JOIN MEMBER m ON im.MID = m.MID
        JOIN resume r ON im.MID = r.MID
    </select>
    
    <delete id="removeInterest">
        DELETE FROM interestMember WHERE imno = #{imno}
    </delete>
    
    <!-- 관심 구직자 mapper -->
    
    
        <resultMap id="ApplyResumeMap" type="com.green.miniProject.domain.ApplyResume">
        <id property="arno" column="arno"/>
        <result property="rno" column="rno"/>
        <result property="enno" column="enno"/>
        <result property="arpass" column="arpass"/>
        <association property="member" javaType="com.green.miniProject.domain.Member">
            <result property="mname" column="mname"/>
            <result property="mstate" column="mstate"/>
            <result property="mid" column="mid"/>
        </association>
        <association property="resume" javaType="com.green.miniProject.domain.Resume">
            <result property="rtitle" column="rtitle"/>
        </association>
    </resultMap>
    
    <select id="getApplyResumesByCompany" resultMap="ApplyResumeMap">
        SELECT ar.arno, ar.rno, ar.enno, ar.arpass,
               m.mname, m.mstate, m.mid, 
               r.rtitle
        FROM applyResume ar
        JOIN RESUME r ON ar.rno = r.rno
        JOIN MEMBER m ON r.MID = m.MID
        JOIN employNotice en ON ar.enno = en.enno
        WHERE en.cno = #{cno}
    </select>
    
    <!-- 지원받은 이력서 -->
    
    <select id="findInterestMember" resultType="com.green.miniProject.domain.InterestMember">
        SELECT * FROM interestMember 
        WHERE cno = #{cno} AND mid = #{mid}
    </select>

    <insert id="addInterestMember">
        INSERT INTO interestMember (cno, mid) VALUES (#{cno}, #{mid})
    </insert>

    <delete id="deleteInterestMember">
        DELETE FROM interestMember 
        WHERE cno = #{cno} AND mid = #{mid}
    </delete>
    
    <!-- 관심버튼 -->
    
    
    <select id="getEmployNoticesByCno" resultType="com.green.miniProject.domain.EmployNotice">
        SELECT * FROM employNotice WHERE cno = #{cno}
    </select>
    
    <!-- 채용공고 리스트  -->
    
    <select id="getApplicantDetailByMid" resultType="com.green.miniProject.domain.Member">
        SELECT *
        FROM member
        WHERE mid = #{mid}
    </select>

    <select id="getResumeListByMid" resultType="com.green.miniProject.domain.Resume">
        SELECT *
        FROM Resume
        WHERE mid = #{mid}
    </select>
    
    <select id="getResumeByRno" resultType="com.green.miniProject.domain.Resume">
        SELECT *
        FROM Resume
        WHERE rno = #{rno}
    </select>
    
    <select id="getSkillListByRno" resultType="com.green.miniProject.domain.Skill">
        SELECT 
			s.*
		FROM 
		    RESUME r
		JOIN 
		    skill s ON r.rno = s.rno
		WHERE 
		    r.rno = #{rno}
    </select>
    
    <select id="getExperienceListByRno" resultType="com.green.miniProject.domain.Experience">
        SELECT 
			e.*
		FROM 
		    RESUME r
		JOIN 
		    experience e ON r.rno = e.rno
		WHERE 
		    r.rno = #{rno}
    </select>
    
    <select id="getDegreeListByRno" resultType="com.green.miniProject.domain.Degree">
        SELECT 
			d.*
		FROM 
		    RESUME r
		JOIN 
		    degree d ON r.rno = d.rno
		WHERE 
		    r.rno = #{rno}
    </select>
    
    <select id="getLinkListByRno" resultType="com.green.miniProject.domain.Link">
        SELECT 
			l.*
		FROM 
		    RESUME r
			JOIN 
		    link l ON r.rno = l.rno
		WHERE 
		    r.rno = #{rno}
    </select>
</mapper>
